name: Java CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - '*'
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          -   name: Checkout
              uses: actions/checkout@v3
          -   name: Set up JDK 12
              uses: actions/setup-java@v2
              with:
                distribution: 'adopt-hotspot'
                java-version: '12'
                cache: 'maven'
          -   name: Build with Maven
              run: mvn clean install
